---
---
@import url('./style-base.css');

#header_wrap {
   .print-title-block {
     padding-bottom: 1em;
     a {
      text-decoration: none;
     }
     .title {
      margin-left: 1rem;
      font-size: 130%;
      color: white;
     }
     p {
      margin-left: 1rem;
      margin-bottom: 0px;
      font-size: smaller;
      color: rgb(190, 190, 190);

      a {
        color:rgb(190, 190, 190);
      }
     }
   }
 }

 #main_content_wrap {
   .inner {
     max-width: 68em;
   }

   &.sidebar-container {
     .inner {
       max-width: 64em;
     }
   }

}

#markdown-toc {
  ol > li:before {
    padding-right: 0.6em;    
  }
}